:root {
  --button-background-color: #007bff;
  --button-background-tonal: #59a1ef75;
  --button-disabled: #555;
  --button-text: #fff;
  --button-disable-text: #555;
  --button-disabled-opacity: 0.4;
}

[data-theme="dark"] {
  --button-disabled-opacity: 0.8;
}

.button-component-base {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  color: var(--color-on-background);
  background-color: var(--button-background-color);
  transition: 0.3s all ease;
}

.elevated {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--button-background-color);
  backdrop-filter: opacity(20%);
  color: #fff;
}

.icon {
  display: flex;
  gap: 10px;
  height: fit-content;
  align-items: center;
}

.filled-tonal {
  color: #fff;
  background-color: var(--button-background-color);
  opacity: 0.7;
}

.filled-tonal:hover {
  opacity: 1;
}

.outlined {
  border: 2px solid;
  border-color: var(--button-background-color);
  background-color: transparent;
  color: var(--button-background-color);
}

.outlined:hover {
  background-color: var(--button-background-color);
  color: var(--button-text);
}

.text {
  background-color: transparent;
}

.text:hover {
  color: var(--button-background-color);
}

.disabled {
  border: 2px solid;
  border-color: var(--button-disabled);
  color: var(--button-disabled);
  cursor: not-allowed;
  background: transparent;
  opacity: var(--button-disabled-opacity);
}

/* ------------------------------------- */
/* Live demo */

.base {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  text-transform: capitalize;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.base:hover {
  background-color: none;
}

.disabled {
  cursor: not-allowed;
}

/* primary */
.primary-text {
  color: var(--color-primary);
}

.primary-elevated {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.primary-filled {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.primary-tonal {
  background-color: var(--color-on-primary-container);
  color: var(--color-primary);
}

.primary-outlined {
  border: 1.5px solid var(--color-primary);
  color: var(--color-primary);
}

/* secondary */
.secondary-text {
  color: var(--color-on-secondary-container);
}

.secondary-elevated {
  background-color: var(--color-on-secondary-container);
  color: var(--color-secondary-container);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.secondary-filled {
  background-color: var(--color-on-secondary-container);
  color: var(--color-secondary-container);
}

.secondary-tonal {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

.secondary-outlined {
  border: 1.5px solid var(--color-on-secondary-container);
  color: var(--color-on-secondary-container);
}

/* success */
.success-text {
  color: var(--color-tertiary-container);
}

.success-elevated {
  background-color: var(--color-on-tertiary-container);
  color: var(--color-tertiary-container);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.success-filled {
  background-color: var(--color-tertiary-container);
  color: var(--color-on-tertiary-container);
}

.success-tonal {
  background-color: var(--color-on-tertiary-container);
  color: var(--color-tertiary-container);
}

.success-outlined {
  border: 1.5px solid var(--color-tertiary-container);
  color: var(--color-tertiary-container);
}

/* error */
.error-text {
  color: var(--color-on-error-container);
}

.error-elevated {
  background-color: var(--color-on-error-container);
  color: var(--color-error-container);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.error-filled {
  background-color: var(--color-on-error-container);
  color: var(--color-error-container);
}

.error-tonal {
  background-color: var(--color-error-container);
  color: var(--color-on-error-container);
}

.error-outlined {
  border: 1.5px solid var(--color-on-error-container);
  color: var(--color-on-error-container);
}