/* Common components 1. Check box 2. Slider 3. Button 4. Input 5. Chips 6. Floating action button 7. Icon buttons 8. Lists 9. Menu 10. Radio button 11. Select 12. Switch 13. Tabs How to section 1. Accordion 2. Avatar 3. Button group 4. Images 5. Caursoul 6. Todo 7. Tables 8. Drag and drop 9. Custom cards 10. Top navigation 11. Botton navigation 12. Drop downs 13. Side navigation 14. Responsive Layout Concepts 1. Flex box 2. Grid 3. Position */

.gallery-container {
  text-align: center;
  padding: 40px;
  display: grid;
  width: 100dvw;

  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gallery-title:not(:first-child) {
  margin-top: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.gallery-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.gallery-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.gallery-name {
  font-size: 16px;
  color: #444;
  font-weight: 500;
}