.sideMenu {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  overflow: auto;
  position: absolute;
  top: 55px;
  left: 25px;
  padding: 12px 20px;
  z-index: 10;
  border-radius: 4px;
  border: 1px solid var(--color-outline);
  gap: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-header-typo {
  font-size: 22px;
  padding-inline: 12px;
  cursor: pointer;
}

.ham-menu {
  display: block;
  transition: 0.5s display ease-in-out;
}

.svg-logo {
  display: none;
  transition: 0.5s display ease-in-out;
}

.mode-font {
  font-size: 32px;
}

.dark-mode {
  color: var(--color-on-background);
  transition: 0.5s color ease-in-out;
}

.light-mode {
  color: var(--color-on-background);
  transition: 0.5s color ease-in-out;
}

@media (min-width: 1501px) {
  .ham-menu {
    display: none;
    transition: 0.5s display ease-in-out;
  }

  .svg-logo {
    display: block;
    transition: 0.5s display ease-in-out;
  }
}