.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  gap: 18px;
  padding: 12px;
  height: calc(100vh - 72px);
}

aside {
  width: 280px;
  display: none;

  /* font-size: 20px; */
  padding: 12px 14px;
  overflow: auto;
  margin-bottom: 20px;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.active {
  background: var(--color-surface-container-highest);
  border-radius: var(--theme-border-radius-hover);
}

main {
  flex: 1;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: var(--theme-title-s-font-size);
  overflow: auto;
}

@media screen and (min-width: 1501px) {
  aside {
    display: flex;
    flex-direction: column;
    color: var(--color-on-background);
    transition: display 0.5s ease-in-out, 0.5s color ease-in-out;
  }
}