.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  gap: 18px;
  padding: 12px;
  height: calc(100vh - 72px);
}

aside {
  width: 300px;
  display: none;

  font-size: 20px;
  padding: 12px 14px;
  overflow: auto;
  margin-bottom: 20px;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar_left_header {
  font-size: 22px;
}

.sidebar_left_para {
  font-size: 14px;
  width: 100%;
}

.sidebar_left_para:hover {
  background: var(--color-surface-container-highest);
  border-radius: 28px
}

main {
  flex: 1;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: 14px;
  overflow: auto;
}

@media screen and (min-width: 1501px) {
  aside {
    display: flex;
    flex-direction: column;
    color: var(--color-on-background);
    transition: display 0.5s ease-in-out, 0.5s color ease-in-out;
  }

  .sidebar_left_header {
    font-size: 24px;
    padding: 12px 16pxx;
  }

  .sidebar_left_para {
    font-size: 16px;
    padding: 12px 16px;
    margin-bottom: 8px;
  }
}