.code-snippet-p-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 28px;
  border-bottom: 1px solid var(--color-outline);
  position: sticky;
  top: 0;
  background-color: var(--color-surface-container-lowest);
  transition: 0.5s background-color ease-in-out,
}

.code-snippet-p {
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  padding-bottom: 6px;
}

.code-snippet-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.code-snippet-container {
  background-color: var(--color-surface-container);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 15px 28px 20px;
}

.code-snippet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--color-surface-container);
  border-bottom: 1px solid var(--color-outline);
  border-top: 1px solid var(--color-outline);
}

.preview-button {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: var(--theme-title-m-font-size);
}