@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background: #fff8f3;
  --color-on-background: #1e1b17;
  --color-surface: #fff8f3;
  --color-surface-dim: #e0d9d2;
  --color-surface-bright: #fff8f3;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #faf2ec;
  --color-surface-container: #f5ece6;
  --color-surface-container-high: #efe7e0;
  --color-surface-container-highest: #e9e1db;
  --color-on-surface: #1e1b17;
  --color-surface-variant: #eee0d1;
  --color-on-surface-variant: #4e453b;
  --color-inverse-surface: #34302c;
  --color-inverse-on-surface: #f7efe9;
  --color-outline: #807569;
  --color-outline-variant: #d1c4b6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-surface-tint: #76592e;
  --color-primary: #372200;
  --color-on-primary: #ffffff;
  --color-primary-container: #5d4319;
  --color-on-primary-container: #ffdcad;
  --color-inverse-primary: #e6c08b;
  --color-secondary: #6b5c47;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #f6e0c5;
  --color-on-secondary-container: #544633;
  --color-tertiary: #222a06;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #424c24;
  --color-on-tertiary-container: #dce8b2;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #410002;

  /* font family */
  --theme-display-font-family: "Grey Qo", sans-serif;
  --theme-text-font-family: "Google Sans Text", sans-serif;
  --theme-mono-font-family: "Google Sans Mono", sans-serif;
  --theme-google-symbol-font-family: "Google Symbols";

  /* hero */
  --theme-hero-font-family: var(--theme-display-font-family);
  --theme-hero-font-size: 96px;
  --theme-hero-line-height: 1;
  --theme-hero-font-weight: 475;
  --theme-hero-letter-spacing: 0;

  /* display */
  --theme-display-font-family: var(--theme-display-font-family);
  --theme-display-font-weight: 475;
  --theme-display-letter-spacing: 0;
  /* x-large */
  --theme-display-xl-font-size: 88px;
  --theme-display-xl-line-height: 96px;
  /* large */
  --theme-display-l-font-size: 57px;
  --theme-display-l-line-height: 64px;
  /* medium */
  --theme-display-m-font-size: 45px;
  --theme-display-m-line-height: 52px;
  /* small */
  --theme-display-s-font-size: 36px;
  --theme-display-s-line-height: 44px;

  /* headline */
  --theme-headline-font-family: var(--theme-display-font-family);
  --theme-headline-font-weight: 475;
  /* large */
  --theme-headline-l-font-size: 32px;
  --theme-headline-l-line-height: 40px;
  /* medium */
  --theme-headline-m-font-size: 28px;
  --theme-headline-m-line-height: 36px;
  /* small */
  --theme-headline-s-font-size: 24px;
  --theme-headline-s-line-height: 32px;

  /* title */
  --theme-title-font-family: var(--theme-text-font-family);
  /* large */
  --theme-title-l-font-size: 22px;
  --theme-title-l-line-height: 30px;
  --theme-title-l-font-weight: 600;
  /* medium */
  --theme-title-m-font-size: 16px;
  --theme-title-m-line-height: 24px;
  --theme-title-m-font-weight: 700;
  /* small */
  --theme-title-s-font-size: 14px;
  --theme-title-s-line-height: 20px;
  --theme-title-s-font-weight: 600;

  /* label */
  --theme-label-font-family: var(--theme-text-font-family);
  --theme-label-font-weight: 500;
  --theme-label-s-letter-spacing: .1px;
  /* large */
  --theme-label-l-font-size: 14px;
  --theme-label-l-line-height: 20px;
  /* medium */
  --theme-label-m-font-size: 12px;
  --theme-label-m-line-height: 16px;
  /* small */
  --theme-label-s-font-size: 11px;
  --theme-label-s-line-height: 16px;

  /* para */
  --theme-body-font-family: var(--theme-text-font-family);
  --theme-body-font-weight: 400;
  --theme-body-letter-spacing: .1px;
  /* para-large */
  --theme-body-l-font-size: 16px;
  --theme-body-l-line-height: 24px;
  /* para-medium */
  --theme-body-m-font-size: 14px;
  --theme-body-m-line-height: 20px;
  /* para-small */
  --theme-body-s-font-size: 12px;
  --theme-body-s-line-height: 16px;

  /* code */
  --theme-code-font-family: var(--theme-mono-font-family);
  --theme-code-letter-spacing: 0;
  --theme-code-font-weight: 400;
  /* large */
  --theme-code-l-font-size: 16px;
  --theme-code-l-line-height: 24px;
  /* medium */
  --theme-code-m-font-size: 14px;
  --theme-code-m-line-height: 20px;
  /* code snippet */
  --theme-code-snippet-font-size: 15px;
  --theme-code-snippet-line-height: 32px;
  --theme-code-snippet-font-weight: 500;

  /* border radius */
  --theme-border-radius-container: 36px;
  --theme-border-radius-hover: 28px;

  -webkit-font-smoothing: antialiased;
}

[data-theme="dark"] {
  --color-background: #18130b;
  --color-on-background: #ede1d3;
  --color-surface: #18130b;
  --color-surface-dim: #18130b;
  --color-surface-bright: #3f382f;
  --color-surface-container-lowest: #120d06;
  --color-surface-container-low: #201b12;
  --color-surface-container: #251f16;
  --color-surface-container-high: #2f2920;
  --color-surface-container-highest: #3b342a;
  --color-on-surface: #ede1d3;
  --color-surface-variant: #504518;
  --color-on-surface-variant: #d5c4ae;
  --color-inverse-surface: #ede1d3;
  --color-inverse-on-surface: #362f26;
  --color-outline: #9d8f7b;
  --color-outline-variant: #504534;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-surface-tint: #ffba3e;
  --color-primary: #ffd28d;
  --color-on-primary: #432c00;
  --color-primary-container: #e5a427;
  --color-on-primary-container: #342100;
  --color-inverse-primary: #7f5700;
  --color-secondary: #e6c188;
  --color-on-secondary: #432c02;
  --color-secondary-container: #543b0f;
  --color-on-secondary-container: #f5cf95;
  --color-tertiary: #cee36a;
  --color-on-tertiary: #2c3400;
  --color-tertiary-container: #a5b945;
  --color-on-tertiary-container: #212800;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: var(--theme-display-font-family);
}

p {
  line-height: 1.25rem;
}

ol,
ul {
  font-size: var(--theme-label-l-font-size);
  padding-inline-start: 30px;
}

li {
  list-style-position: outside;
  margin: 0.5rem 0;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  padding: 6px 14px;
  cursor: pointer;
}

body {
  font-family: Montserrat, "Dancing Script", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-on-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-container {
  height: 100dvh;
  width: 100%;
  position: fixed;
  background-color: var(--color-surface-container);
  transition: 0.5s background-color ease-in-out;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  gap: 12px;
}

.page-layout {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 12px;
  color: var(--color-on-background);
}

.gap-each-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  color: var(--color-on-background);
  transition: 0.5s color ease-in-out;
}

.container {
  width: 100%;
  height: fit-content;
  background-color: var(--color-surface-container);
  color: var(--color-on-background);
}

.row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ------ new layout ------ */

nav {
  height: 58px;
  color: var(--color-on-background);
  padding: 14px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s color ease-in-out;
  z-index: 1000;
}

.second-container {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  width: 100%;
  gap: 18px;
  padding: 12px;
  height: calc(100dvh - 66px);
}

.container-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: var(--theme-label-l-font-size);
}

.sidebar-left {
  width: 300px;
  display: none;
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-right {
  display: none;
  width: 220px;
  background-color: var(--color-surface-container-lowest);
  border-radius: var(--theme-border-radius-container);
  padding: 28px;
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: 0.5s background-color ease-in-out;
}

.main-main-container {
  flex: 1;
  background-color: var(--color-surface-container-lowest);
  border-radius: var(--theme-border-radius-container);
  padding: 0 20px;
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: 0.5s background-color ease-in-out;
}

.scroll-wrapper {
  width: min(980px, 100%);
  margin-inline: auto;
  max-height: calc(100dvh - 75px);
  transition: 0.5s color ease-in-out;
}

.scroll-wrapper-component {
  width: min(1700px, 100%);
  margin-inline: auto;
  max-height: calc(100dvh - 75px);
}

.page-layout>h2 {
  margin: 44px 0;
  font-size: var(--theme-display-l-font-size);
}

.pageTitle {
  font-weight: 475;
  font-size: var(--theme-display-l-font-size);
  padding-bottom: 10px;
}

.underline {
  width: 100%;
  height: 1px;
  background: #292929;
  opacity: 0.5;
}

.para-header {
  font-size: var(--theme-title-l-font-size);
  margin: 12px 0;
}

.para {
  font-size: var(--theme-title-s-font-size);
}

.sidebar_left_header {
  font-size: var(--theme-title-l-font-size);
}

.sidebar_left_para {
  font-size: var(--theme-title-s-font-size);
}

.sidebar_left_para:hover {
  background: var(--color-surface-container-highest);
  border-radius: var(--theme-border-radius-hover);
}

.component-layout-body-container {
  width: min(980px, 100%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.5s color ease-in-out,
}

.component-layout-component {
  padding: 10px;
  margin: 12px auto;
  border-radius: var(--theme-border-radius-hover);
  background-color: var(--color-surface-container);
  transition: 0.5s background-color ease-in-out;
  width: 600px;
  max-width: 100%;
  padding: 24px;
  max-height: 400px;
  overflow: auto;
  display: grid;
  place-items: center;
}

.component-layout-code-block {
  max-height: 400px;
  overflow: auto;
  border-radius: 28px;
  background-color: var(--color-surface-container);
  transition: 0.5s background-color ease-in-out;
  border: 1px solid var(--color-outline);
  position: relative;
}

.header_pattern {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
}

.header_container {
  background-color: var(--color-surface-container);
  border-radius: var(--theme-border-radius-container);
  width: 100%;
  padding: 24px;
  transition: 0.5s background-color ease-in-out;
}

.header_example_container {
  background-color: var(--color-surface-container);
  border-radius: var(--theme-border-radius-container);
  width: 100%;
  padding: 24px;
}

.header_container_left {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  /* justify-content: center; */
}

.header_container_right {
  padding-bottom: 0;
  padding-top: 0;
  height: 344px !important;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .header_container {
    width: 50%;
  }

  .header_container_left {
    height: inherit;
  }

  .header_pattern {
    flex-direction: row;
    height: 344px;
  }
}

@media screen and (min-width: 901px) {
  .sidebar-right {
    display: inline-flex;
  }
}

@media screen and (min-width: 601px) {
  nav {
    height: 72px;
  }

  .second-container {
    margin-top: 72px;
    height: calc(100dvh - 80px);
  }

  .page-layout>h2 {
    margin: 66px 0;
    font-size: var(--theme-display-xl-font-size);
  }

  .pageTitle {
    font-weight: 475;
    font-size: var(--theme-display-xl-font-size);
  }

  .container-right {
    font-size: var(--theme-title-m-font-size);
  }

  .para-header {
    font-size: var(--theme-headline-s-font-size);
  }

  .para {
    font-size: var(--theme-title-m-font-size);
  }

  .sidebar_left_header {
    font-size: var(--theme-title-m-font-size);
  }

  .sidebar_left_para {
    font-size: var(--theme-title-m-font-size);
    padding: 12px 16px;
    margin-bottom: 8px;
  }

  .main-footer-navigation {
    padding: 0 40px 20px;
  }
}

/* --------------------------------------- */
/* navigation buttons in every component */
.main-footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px 20px;
}

.back-to-components-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--color-text-primary);
  transition: color 0.3s ease-in-out;
  padding: 12px 16px;
  border-radius: var(--theme-border-radius-container);
  border: 0.5px solid #ccc;
}

.back-to-components-link:hover {
  color: var(--color-text-primary-hover);
}

.back-to-components-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-text-primary-hover);
}

/* ------------------------------- */
.link-hover:hover {
  text-decoration: underline;
}

/* -------------------------- */
.transition-color {
  transition: 0.5s color ease-in-out,
}